<footer>
        <div class="container">
            <address id="address">
                <p> <b> Program: </b> </p>
                <p>Luni-Vineri: 8:00-21:00 <br>
                Sambata-Duminica: 10:00-16:00</p>

                <p>Adresa: Strada Mihai Eminescu, nr. 11, sector 13.</p>
                <a href="mailto:dps13buc@statulroman.ro">Trimite-ne un mail.</a> <br><br>
            </address>

            <span id="wordcount"></span> <br>
            <span id="windowSize"></span> <br>

            <a href="#top">Sus</a>
        </div>
</footer>