<!DOCTYPE html>
<html lang="ro">
<head>
	<title> Acasa | Departamentul de Politie Sector 13 </title>
	<meta charset="UTF-8">
	<meta name="description" content="Site-ul oficial al departamentului de politie din sector 13">
	<meta name="keywords" content="home, politie, infractori">
	<meta name="author" content="Burta Mihai - Catalin">
	
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/galerie.css">
    <link rel="stylesheet" href="/css/galerie_800.css" type="text/css" media="screen and (max-width: 700px)" />
	<link rel="stylesheet" href="/css/galerie_400.css" type="text/css" media="screen and (max-width: 400px)" />
    <script src="/js/general.js"></script>
</head>

<body onresize="WindowResized()" onload="TitleAnimation(0); WordCount();">
	
	<%- include('../fragmente/header')  %>
	
	<main>
        <h1 align="center"> Eroare 404: Pagina inexistenta! </h1>
	</main>
	
	<%- include('../fragmente/footer')  %>
</html>