<!DOCTYPE html>
<html lang="ro">
<head>
	<title> Departament | Departamentul de Politie Sector 13 </title>
	<meta charset="UTF-8">
	<meta name="description" content="Site-ul oficial al departamentului de politie din sector 13">
	<meta name="keywords" content="capitan, ofiteri, asistenti, departament">
	<meta name="author" content="Burta Mihai - Catalin">
	
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/general.js"></script>
</head>

<body onresize="WindowResized()" onload="WordCount();">
	
	<%- include('../fragmente/header')  %>
	
	<main>
        <div id="capitan">
				<section>
                    <div class="forma">
                        Emilian Popescu - Capitan
                        <div class="corpdep"> 
                            <div align="center"><img src="images/emilian.jpg" id="emi" title="Capitan Emilian"></div>
                            <p> Emilian Popescu a absolvit <em>Facultatea de Științe Politice și Administrație Publică a Universității Babeș-Bolyai din Cluj</em> în anul 1997, ulterior dobândind titlul științific de doctor în științe politice în cadrul <em>Școlii Naționale de Studii Politice și Administrative din București (2009).</em></p>

                            <p> Și-a consolidat profilul academic în domeniul studiilor de securitate, urmând cursurile <em>Colegiului Național de Apărare al Universității Naționale de Apărare „Carol I“ (2005-2006)</em> și <em>Programul pe probleme de terorism şi studii de securitate (PTSS)</em> organizat de <em>Centrul European de Studii de Securitate „George C. Marshall“</em> din Garmisch-Partenkirchen, Germania (2006).</p>
                            
                            
                            <div align="center"><i>Motto: </i><q>Patria a Priori</q></div>
                        </div>
                    </div>
				</section>
        </div>
        
        <div id="ofiteri">
            <section>
				<div class="forma">
                    Doru Agache - Ofiter
                    <div class="corpdep">
                        <div align="center"><img src="images/doru.jpg" width="260" height="260" align="center" title="Ofiter Doru"></div> 
                        <p>Doru Agache are 47 de ani și o experiență de peste două decenii în munca operativă. De profesie este fizician, absolvent al <em>Facultății de Fizică din cadrul Universității București</em>. A urmat cursurile postuniversitare cu specializarea Geopolitică și Geostrategie din cadrul <em>Academiei de Studii Economice</em>, a absolvit masterul NATO Senior Executive din cadrul SNSPA, a absolvit cursurile seminarului <em>Combaterea Armelor de Distrugere în Masă și Terorismului din cadrul Centrului European pentru Studii de Securitate George C. Marshall</em> din Germania.</p>
                    </div>
                </div>
            </section>
            <section>
				<div class="forma">
                    Remi Jalba - Ofiter
                    <div class="corpdep">
                        <div align="center"><img src="images/remi.jpg" width="260" height="260" align="center" title="Ofiter Remi"></div> 
                        <p>Domnul general de brigadă Remi Jalba, a deținut diferite funcții în <em>Direcția Generală Contraspionaj</em>: locțiitor al șefului Direcției, șef de departamente de analiză, operațiuni și planificare. În această calitate, a participat la operaţiuni derulate în cooperare cu parteneri interni și externi ai DPS13.</p>

                        <p>A coordonat și contribuit la o bună parte din procesele de transformare instituțională.</p>
                    </div>
                </div>
            </section>
            <section>
				<div class="forma">
                    Titus Antonescu - Ofiter
                    <div class="corpdep">
                        <div align="center"><img src="images/titus.jpg" width="260" height="260" align="center" title="Ofiter Titus"></div> 
                        <p>Titus Antonescu, anterior numirii, până în anul 2010, a ocupat diverse funcții de conducere în cadrul <em>Direcției Generale Contraspionaj</em>. În perioada 2010-2013, a fost șeful <em>Direcției de Informații a Municipiului București</em>. Între 2013-2016, a condus <em>Direcția Generală Apărarea Constituției</em>.

                        <p>În anul 2015 i-a fost acordat gradul de general de brigadă.</p>

                        <p>A participat la misiuni, acţiuni şi operaţiuni complexe derulate în special pe profil contraspionaj, în cooperare cu parteneri externi ai DPS13.</p>
                    </div>
                </div>
            </section>
        </div>
        
        <div id="asistenti">
            <section>
				<div class="forma">
                    John Doe - Asistent
                    <div class="corpdep">
                        <div align="center"><img src="images/johndoe.png" width="260" height="260" align="center"></div> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique turpis et mi efficitur varius. Ut sodales mauris sem, id suscipit nisl pellentesque ac. Suspendisse et massa quis sem interdum ultricies. Aenean ornare ultricies urna in viverra. Sed non blandit mi. Ut sit amet vulputate libero. Integer consectetur lacinia purus et pharetra. Fusce sit amet orci sed velit sollicitudin posuere. Aliquam erat volutpat. Pellentesque vel velit et ex tristique mattis. Aenean pulvinar et est ut rutrum. Vestibulum euismod turpis sit amet ligula convallis, ut pulvinar nisi egestas.</p>
                    </div>
                </div>
            </section>
            <section>
				<div class="forma">
                    John Doe - Asistent
                    <div class="corpdep">
                        <div align="center"><img src="images/johndoe.png" width="260" height="260" align="center"></div> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique turpis et mi efficitur varius. Ut sodales mauris sem, id suscipit nisl pellentesque ac. Suspendisse et massa quis sem interdum ultricies. Aenean ornare ultricies urna in viverra. Sed non blandit mi. Ut sit amet vulputate libero. Integer consectetur lacinia purus et pharetra. Fusce sit amet orci sed velit sollicitudin posuere. Aliquam erat volutpat. Pellentesque vel velit et ex tristique mattis. Aenean pulvinar et est ut rutrum. Vestibulum euismod turpis sit amet ligula convallis, ut pulvinar nisi egestas.</p>
                    </div>
                </div>
            </section>
            <section>
				<div class="forma">
                    John Doe - Asistent
                    <div class="corpdep">
                        <div align="center"><img src="images/johndoe.png" width="260" height="260" align="center"></div> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique turpis et mi efficitur varius. Ut sodales mauris sem, id suscipit nisl pellentesque ac. Suspendisse et massa quis sem interdum ultricies. Aenean ornare ultricies urna in viverra. Sed non blandit mi. Ut sit amet vulputate libero. Integer consectetur lacinia purus et pharetra. Fusce sit amet orci sed velit sollicitudin posuere. Aliquam erat volutpat. Pellentesque vel velit et ex tristique mattis. Aenean pulvinar et est ut rutrum. Vestibulum euismod turpis sit amet ligula convallis, ut pulvinar nisi egestas.</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
	
    <%- include('../fragmente/footer')  %>
   
</body>    
</html>